/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.cd-container{
	display: inline-block;
}

.image1 {
    position: relative;
    
}

.image1 img {
    vertical-align: top;
    
}

.image1:after {
    content: 'Towers of Hanoi Game';
    position: absolute;
    width: 300px; height:300px;
    text-align:center;
    line-height:300px;
    top:0; left:0;
    background:rgba(0,0,0,1);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    color: white;
    font-size: 30px;
}

.image1:hover:after {
    opacity: 1;
}

.image2 {
    position: relative;
    
}

.image2 img {
    vertical-align: top;
    
}

.image2:after {
    content: 'Crash Course';
    position: absolute;
    text-align:center;
    line-height:300px;
    width: 300px; height:300px;
    top:0; left:0;
    background:rgba(0,0,0,1);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    color: white;
    font-size: 30px;
}

.image2:hover:after {
    opacity: 1;
}

.image3 {
    position: relative;
    
}

.image3 img {
    vertical-align: top;
    
}

.image3:after {
    content: 'Poker Game';
     text-align:center;
    line-height:300px;
    position: absolute;
    width: 300px; height:300px;
    top:0; left:0;
    background:rgba(0,0,0,1);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    color: white;
    font-size: 30px;
}

.image3:hover:after {
    opacity: 1;
}
